<h1>Login</h1>
 <!-- <%= form_for '/login' do |f| %>
     Email: <%= f.text_field :email %> <br>
     Password: <%= f.password_field :password %><br>
     <%= f.submit("Submit") %><br>
<% end %> -->
<%= form_tag '/login' do%>
<% if flash[:error] %>
<p><%= flash[:error]%></p><br>
<% end %>
<p>
  <%=label_tag :email%><br>
  <%= text_field_tag :email%><br>
</p>
<p>
  <%=label_tag :password%><br>
  <%= password_field_tag :password%><br>
</p>
<p>
  <%= submit_tag "Log In"%>
</p>
<% end %>
