<h1>Welcom to my blog</h1>
<table>
    <tr><th>Title</th>
        <th>Content</th>
        <th>Image</th>
        <th>Category</th>
        <th>Likes</th>
        <th>User</th>
    </tr>
    <%@posts.each do |post|%>
    <tr>
        <td><%= post.title%></td>
        <td><%= post.content%></td>
        <td><img src="<%= post.image%>"/></td>
        <td><%=post.category%></td>
        <td><a href="/posts/<%=post.id%>/comments"><%=post.comments.count%></a></td>
        <td><%= post.user_id%></td>
        <!-- <td><%=post.comments.where(:like => true).count%></td> -->
    </tr>

<%end%>
</table>
